
@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem 5%;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width:768px) {
    .header #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: fixed;
        top: 0;
        right: -105%;
        width: 30rem;
        background: #fff;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        z-index: 1200;
    }

    .header .navbar #close-navbar {
        display: block;
    }

    .header .navbar.active {
        box-shadow: 0 0 0 10vw rgba(0, 0, 0, 0.8);
        right: 0;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1rem 0;
        text-align: center;
        font-size: 3rem;
    }

    .home {
        background-position: left;
        justify-content: center;
        align-items: center;
    }

    .home .content h3 {
        font-size: 4rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}